<h1 style="text-align:center;>ASSIGNMENT 1</h1>

<h1 style="text-align: center;"> Assignment 1</h1>

<h3>1.Basic Arithemetic</h3>

In [10]:
#write a python script to perform the following operation.print
a=15
b=23
print(a+b)
a=48
b=72
print(a-b)
a=7
b=6
print(a*b)
a=144
b=12
print(a/b)
a=50
b=9
print(50%9)

38
-24
42
12.0
5

<h3>2. Simple expression</h3>

In [13]:
#evaluate the following expresssion and print the result:
a=8
b=3
c=5
d=(a+b)*c
print(d)

a=50
b=15
c=5
d=(a-b)/c
print(d)

a=45
b=6
print(a%b)

55
7.0
3

<h3>3.Concatenation with strings</h3>

In [17]:
#combine the following text with variables and print the output
#define a variable name="Alice and age=25 print "alice is 25 year old"
name="alice"
age=25
print(f"{name} is {age}years old")
city="paris"
print(f"{name} lives in {city}")

alice is 25years old
alice lives in paris

<h4>4. order of operation</h3>

In [21]:
#calculate and print the results of the following.
a=5
b=2

d=(a+b*a)
print(d)

a=5
b=2
c=3
d=(a+b)*3
print(d)

a=100
b=25
c=3
d=10100
d=(a-(b*3)+d)
print(d)

a=8
b=16
c=2
d=5
e=a+(b/c)-(d*c)
print(e)

15
21
10125
6.0

<h3>5. Decimal Division and integer Division</h3>

In [23]:
#use print to display the diffrence between:
a=15
b=415
print(a/b)
print(a//b)

0.03614457831325301
0

<h3>6.Price calculation</h3>

In [25]:
#write a program to calculate the total cost of buying 3 items:
#item 1 cost$12.49,item2 costs$8.99,and item 3 costs $14.55
item1=12.49
item2=8.99
item3=14.55
print(item1+item2+item3)
#calculate the subtotal,apply a sales tax of 8%,and display the total cost
subtotal=36.03
taxrate=0.08
saletax=subtotal*taxrate
total_cost=(subtotal+saletax)
print(saletax)
print(total_cost)

36.03
2.8824
38.9124

<h3>7.time converssion</h3>

In [28]:
#convert 645 min into hours and minutes.
min=645
hour=min/60
print(hour)
minf=min-10*60
print(minf)

10.75
45

<h3>8. Distance and speed</h3>

In [41]:
#if a car travels 150 miles in 2.5hours,calculate and print:
#its average speed in miles per hour
distance=150
speed=2.5
average_speed=distance/speed

print("average speed:",average_speed,"miles per hour")
#how long it would take to travel 500 miles at the same speed
distance=500
speed=60
time=distance/speed
print(time)

average speed: 60.0 miles per hour
8.333333333333334

<h3>8.Celsius to fahrenheit</h3>

In [ ]:
#converting degrees Celsius to fahrenhei involves using this formula