<h1>CONDITIONAL STATEMENT</h1>

<h1>1.QUESTION</h1>

In [1]:
x=10
if x>5:
 print("x geater then 5")

x geater then 5

<h1>2.QUESTION </h1>

In [2]:
num=int(input("enter the number"))
if num%2==0:
    print("no is even")
else:
     print("no is odd")

no is odd

<h1>3.QUESTION</h1>

In [6]:
text="hello"
if text.startswith("h"):
    print("start with h")
else:
    print("not")

start with h

In [7]:
text="hello"
if text.endswith("o"):
    print("end with h")
else:
    print("not")

end with h

<h1>4.QUESTION</h1>

In [8]:
num=3
if num>0:
    print("no. is positive")

no. is positive

<h1>5.QUESTION</h1>

In [ ]:
fruit=int(input)

<h1>6.QUESTION</h1>

In [9]:
age=20
if age>=18:
    print("adult")
else:("minor")

adult

<h1>7.QUESTION</h1>

In [10]:
temp=30
if temp>25:
    print("hot")
else:
    print("cool")

hot

<h1>8.QUESTION</h1>

In [11]:
num=-7
if num<0:
    print("negative")
else:
    print("positive")

negative

<h1>9.QUESTION</h1>

In [12]:
text="python"
if len(text)<5:
    print("short")
else:
    print( "long")

long

<h1>10.QUESTION</h1>

In [13]:
score=85
if score>=50:
    print("pass")
else:
    print("fail")

pass

<h1>11.QUESTION</h1>

In [20]:
temp=30
if temp<10:
    print("cold")
elif temp<10 or temp<25:
    print("warm")
elif temp>25:
    print("hot")

hot

<h1>12.QUESTION</h1>

In [21]:
day=3
if day==1:
 print("monday")
elif day==2:
 print("tuesday")
elif day==3:
 print("wednesday")

wednesday

<h1>13.QUESTION</h1>

In [22]:
num=-5
if num<0:
    print("negaitive")
elif num>0:
    print("positive")
elif num==0:
 print("zero")

negaitive

<h1>14.QUESTION</h1>

In [25]:

purchase_amount=150
if purchase_amount>100:
    print("10% discount")
elif purchase_amount>50:
    print("5% discount")
else:
    print("no discount")

10% discount

<h1>15.QUESTION</h1

In [41]:
age=16
if age>0 and age<=12:
    print("child")
elif age>13 and age<=19:
    print("teenager")
elif age>20 and age<=64:
    print("adult")
else:
    print("senoir")

teenager

<h1>16.QUESTION</h1>

In [46]:
age=45
if age>=18:
   if age<=30:
    print("young adult")
   else:
      print("adult")
else:
  print("below 18")

adult

<h1>17.QUESTION</h1>

In [47]:
temp=22
if temp<10:
    print("cold")
else:
    if temp<=20:
            print("cool")
    else:
            print("warm")

warm

<h1>18.QUESTION</h1>

In [49]:
score=82
if score>90:
   if score<=100:
       print("grade A")
else:
    if score>80:
        if score<=89:
            print("grade B")
        else:
            if score>70:
                if score<=79:
                    print("grade c")
                else:
                    print("grade f")

grade B

<h1>19.QUESTION</h1>

In [50]:
purchase_amount=120
is_member=True
if  is_member:
    if purchase_amount>100:
        print("15 % discount")
    else:
        if purchase_amount>50:
            print("10%")
        else:
            print("no discount")
else:
    if not is_member:
        print("No discount")

15 % discount

<h1>20.QUESTION</h1>

In [52]:
num=5
if num>0:
    if num%2==0:
        print("positive even")
    else:
        print("positive odd")
else:
   if num%2==0:
       print("negative even")
   else:
       print("negative odd")

positive odd

<h1>21 QUESTION</h1>

In [56]:
age=45
income=40000
if age>40 and age<=60:
    if income>50000:
     print("middle aged high income ")
    else:
       print("other")
else:
   ("other")

other

<h1>22.Question</h1>

In [57]:
age=45
income=40000
if age>40 and age<=60:
    if income>50000:
     print("middle aged high income ")
    else:
       print("other")
else:
   ("other")

other

<h1>23.QUESTION</h1>

In [58]:
score=85
age=29
if score>85 and score<100:
    if age>13 and age<19:
        print("A")
    else:
        print("other")
else:
    print("other")

other

<h1>24.QUESTION</h1>

In [63]:
purchase_amount=40
is_member=False
if is_member:
 if purchase_amount>75:
  print("10 % dis")
 else:
  ("no dis")
else:
   if purchase_amount>50:
    print("15% dis")
   else:
    print("no dis")

no dis

<h1>25.Question</h1>

In [66]:
value=102
if value>50 and value<100:
     print("within range")
else:
    if value<50:
     print("below range")
    else:
       print("above range")

above range