In [4]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [5]:
help("if")

The "if" statement
******************

The "if" statement is used for conditional execution:

   if_stmt ::= "if" assignment_expression ":" suite
               ("elif" assignment_expression ":" suite)*
               ["else" ":" suite]

It selects exactly one of the suites by evaluating the expressions one
by one until one is found to be true (see section Boolean operations
for the definition of true and false); then that suite is executed
(and no other part of the "if" statement is executed or evaluated).
If all expressions are false, the suite of the "else" clause, if
present, is executed.

Related help topics: TRUTHVALUE

In [6]:
help("lambda")

Lambdas
*******

   lambda_expr ::= "lambda" [parameter_list] ":" expression

Lambda expressions (sometimes called lambda forms) are used to create
anonymous functions. The expression "lambda parameters: expression"
yields a function object.  The unnamed object behaves like a function
object defined with:

   def <lambda>(parameters):
       return expression

See section Function definitions for the syntax of parameter lists.
Note that functions created with lambda expressions cannot contain
statements or annotations.

Related help topics: FUNCTIONS

In [7]:
#Variables
# variable works as placeholders where single value can holds
#variable name of memory location where value can hiold
a=10
#variable:a
#value:10
#equal to:assign
a=10
a

10

In [ ]:
id(a)
#addresss of a

140714499193560

Rules Name
1-variable name always start with character
2-it can be alpha numeric bur number can not comes first
3- no special character
4-underscore are alowd
5-multiple words column name not allowd with space

In [9]:
a=10

In [10]:
1b=30

SyntaxError: invalid decimal literal (2509067257.py, line 1)

In [11]:
b1=40

In [12]:
b@=30

NameError: name 'b' is not defined

In [13]:
total msales=40

SyntaxError: invalid syntax (2669002138.py, line 1)

In [14]:
total_sales=40

operators
to perform the operations you need operator
1-Arithimetic op
2-Comparission op or Relational op
3-Logical op
4-Membership op
5-Identity op
6-Assignment op
7-Bitwiseb op

In [20]:
#Arithemetic operators
#+,-,*,/(float)
#power:**
#remainder:%
#divission://(int)
a=20
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

30
10
200
2.0
2
10240000000000
0

In [25]:
#Comparission operator or relational operators
#==,!=,<,>,<=,>=
#o/p return in form of TRUE or FALSE
num1=20
num2=30
print(num1==num2)
print(num1>num2)
print(num1<num2)
print(num1<=num2)
print(num1>=num2)

False
False
True
True
False

In [30]:
#Membership operatror
#in:TRUE if value inside the function
#not:in TRue if value not inside the collection
ls=[12,13,14,15]
print(40 in ls)
print(12 in ls)
print(13 not in ls)
print(22 not in ls)

False
True
False
True

In [33]:
#Identity operator
#is---- TRUE when the value are same
#is not--- TRUE :the value are not same
a=10
b=10
c=20
print(a is b)
print(a is c)

True
False

In [38]:
#checkmlocation
id(b)

140714499193560

In [36]:
id(a)

140714499193560

In [37]:
id(c)

140714499193880

In [44]:
#Assignment operator
a=10
#a=a+20
a+=20
print(a)
a-=20
print(a)
a*=20
print(a)

30
10
200

In [52]:
#Bitwise operator
#binary numbers
# ans &
# or /
print(0&1)
print(0|1)
print(1&1)
print(1|1)
print(1&0)
print(1|0)
print(0&0)

0
1
1
1
0
1
0

In [51]:
6&2

2