<h1>DATA STRUCTURE OF PYTHON</h1>

<h3>*list
*tuple
*dictionary
*set</h3>

<h1>LIST</h1>

<h5>

*List ia collection

*list can hold all data type of python

*Data type enclosed within[----]

*list is ordered collection

*List-Index-0,1,2,3,4,5,----

*List is mutable or editable or changeble

*Duplicate allow

ex--la=[10,suhana,10.9,]

</h5>

In [6]:
ls=[10,20,30,"ram",False,34,56,30+56j,20]

TYPE TO CHECK THE DATA TYPE

In [7]:
#Type to check the data type
type(ls)

list

COUNT OF ELEMENT

In [5]:
len(ls)

8

FREQUENCY OF ANY ELEMENT

In [10]:
print(ls.count(10))
print(ls.count(20))

1
2

ADD ANY ELEMENT BY DEFAULT IN LAST

In [13]:
ls.append(555)

In [14]:
ls

[10, 20, 30, 'ram', False, 34, 56, (30+56j), 20, 555, 555]

FIND THE INDEX OF ANY ELEMENT

In [16]:
ls.index("ram")

3

PICKING THE VALUE BY INDEX

In [18]:
ls[3]

'ram'

ADD ANY ELEMENT CUSTOM PLACE

In [19]:
ls.insert(4,True)

In [20]:
ls

[10, 20, 30, 'ram', True, False, 34, 56, (30+56j), 20, 555, 555]

DELETE ANY VALUE FROM LIST BYDEFAULT FROM LAST

In [23]:
ls.pop()

555

In [24]:
ls

[10, 30, 'ram', True, False, 34, 56, (30+56j), 20, 555]

In [25]:
ls.pop(4)

False

In [26]:
ls

[10, 30, 'ram', True, 34, 56, (30+56j), 20, 555]

DELETE ANY ELEMENT BY VALUE

In [27]:
ls.remove(34)

In [28]:
ls

[10, 30, 'ram', True, 56, (30+56j), 20, 555]

In [31]:
ls.append(40)

In [32]:
ls

[10, 30, 'ram', True, 56, (30+56j), 20, 555, 40, 40, 40]

In [35]:
ls.remove(40)

In [36]:
ls

[10, 30, 'ram', True, 56, (30+56j), 20, 555, 40]

COPY

In [37]:
ls1=ls.copy()

In [38]:
ls1

[10, 30, 'ram', True, 56, (30+56j), 20, 555, 40]

CLEAR

In [39]:
ls.clear()

In [40]:
ls

[]

functions

In [42]:
lsm=[10,20,30,40,50,60,67,32]

In [44]:
print(sum(lsm))
print(max(lsm))
print(min(lsm))
print(len(lsm))

309
67
10
8

In [54]:
sales=[10,20,3056,78,9000,45000]
day=["mon","tue","wed","thr","fri","sat"]
#find the day name of max sales

In [50]:
max(sales)

9000

In [51]:
sales.index(9000)

4

In [52]:
day[4]

'fri'

In [55]:
day[sales.index(max(sales))]

'sat'

<h1>TUPLE</h1>

<h5>

*tuple is collection

*it hold all adata type

*Item are enclosed within(----)

*Tuple is ordered collection

*Index-0,1,2,3,4,5,6,7,8,9

*Immutable or non editable or unchangeable

*Duplicate allow
</h5>

In [56]:
tp=(10,20,30,40,20,"ram",True,10+20j)

CHECK DATA TYPE
#int,float,char
TYPE OF DATA
  *sales
  *profit
  *quantity

In [57]:
type(tp)

tuple

COUNT OF ELEMENT

In [59]:
len(tp)

8

FREQUENCY COUNT

In [60]:
tp.count(10)

1

In [61]:
tp.append(90)

AttributeError: 'tuple' object has no attribute 'append'

In [62]:
tp.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [64]:
ls1

[10, 30, 'ram', True, 56, (30+56j), 20, 555, 40]

In [65]:
tuple(ls1)

(10, 30, 'ram', True, 56, (30+56j), 20, 555, 40)

In [66]:
ls1(tp)

TypeError: 'list' object is not callable