<h1>LOOPS</h1>

<h5>
#Loop is control the flow of execution of statement

#Repetation of execution of code


1.- Statement(code)

    *single line

    *Multiple line -(Block)

2.-Logical test

    *True

    *False

    #conditional statement- check single time
    
    #loop-check multiple time</h5>

<h1>TYPES OF LOOPS</h1>

<h5>

1.FOR LOOP

2.WHILE LOOP</h5>

<h1>FOR LOOP</h1>
*finite loop

*repeatdly of execution of code over a sequence

*sequence-limit(start point,end point)

    # string,list ,tuple,range-----

<h1>SYNTAX</h1>

for logical test:

   body of for loop

In [3]:
#for loop over a string
words="python"
for word in words:
    print(word)

p
y
t
h
o
n

In [4]:
words="suhana"
for loop in words:
    print(loop)

s
u
h
a
n
a

In [5]:
words="suhana"
for loop in words:
    print(words)

suhana
suhana
suhana
suhana
suhana
suhana

In [9]:
word="india"
for loop in word:
    print(word)

india
india
india
india
india

In [10]:
word="india"
for loop in word:
    print(word)
else:
    print("sequence end")

india
india
india
india
india
sequence end

In [12]:
word="india"
for loop in word:
    print("suhana")
else:
    print("sequence end")

suhana
suhana
suhana
suhana
suhana
sequence end

<h1>FOR LOOP OVER LIST</h1>

In [13]:
fruit=["apple","mango","banana","orange"]
for i in fruit:
    print(i)

apple
mango
banana
orange

<h1>FOR LOOP OVER RANGE</h1>

<h5>

*single value in range

       -range(n)  
  
             --end point

             --iteration till end point:(n-1)

*two value in range
       
       -range(m,n)
       
              --start point m end point n 

*three value in range

         -range(m,n,s)

              --satart point m end point n  escape s </h5>

<h1>SINGLE VALUE</h1>

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

<h1>TWO VALUE</h1>

In [15]:
for i in range(10,25):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

<h1>THREE VALUE</h1>

In [16]:
for i in range(1,50,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [17]:
n=2
m=40
for i in range(n,m):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

<h1>TABLE OF 2</h1>

In [18]:
table=2
for i in range(1,11):
    print(table,"*",i,"=",table*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [19]:
table=3
for i in range(1,11):
    print(table,"*",i,"=",table*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [20]:
for i in (2,22,2):
    print(i)

2
22
2

<h4>write program to find the even number between 10 to 50</h4>

In [23]:
for i in range(10,51):
 if i%2==0:
  print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

<h4>write a program find number divission by 5</h4>

In [24]:
for i in range(10,51):
    if i%5==0:
        print(i)

10
15
20
25
30
35
40
45
50

<h4>wite a program divission by 5 and 2 both</h4>

In [25]:
for i in range(10,51):
    if i%5==0 and i%2==0:
        print(i)

10
20
30
40
50

<h4>write a prpgram to find even and odd number between 10 to 50 return value in list form</h4>

In [ ]:
for i in range(10,51):
    if i%2==0:
        print("even",i)
    else:
        print("odd",i)

even [10]
odd [11]
even [12]
odd [13]
even [14]
odd [15]
even [16]
odd [17]
even [18]
odd [19]
even [20]
odd [21]
even [22]
odd [23]
even [24]
odd [25]
even [26]
odd [27]
even [28]
odd [29]
even [30]
odd [31]
even [32]
odd [33]
even [34]
odd [35]
even [36]
odd [37]
even [38]
odd [39]
even [40]
odd [41]
even [42]
odd [43]
even [44]
odd [45]
even [46]
odd [47]
even [48]
odd [49]
even [50]

In [31]:
even=[]
odd=[]
for i in range(10,51):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print("the list of even num",even)
print("the list of odd num",odd)

the list of even num [10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
the list of odd num [11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]